In [2]:
import pandas as pd

Veri okuma

In [3]:
walkers_df=pd.read_csv('Data Task//walkers.csv',index_col=0)
walks_df=pd.read_csv('Data Task//walks.csv',index_col=0)

In [4]:
walkers_df

,id,gender,signuptime,walker_province,walker_district,walker_neighborhood
0,248b0c40-6670-47e1-be2d-052934fac3ea,Female,2019-11-03 22:01:38.006,İstanbul,Ataşehir,NaN
1,01029542-74c8-4ba7-9370-c63d0eab244d,Male,2020-02-11 15:30:28.371,İstanbul,Maltepe,NaN
2,d6d71172-a808-420e-9856-3dd0a067318b,Female,2019-11-06 09:47:58.777,İstanbul,Ataşehir,NaN
3,7f6a0cfd-b94d-4bb6-9db8-d7c28eb03e7b,Male,2020-10-12 11:38:52.230,İstanbul,Kadıköy,Caferağa
4,fb487092-7521-4cb4-b102-a24cd337da54,Male,2020-11-24 13:29:52.648,İstanbul,Sarıyer,Reşitpaşa
...,...,...,...,...,...,...
725,8ec22b8d-0e4e-433b-92bc-29495f0b8680,Male,2019-03-12 08:18:41.605,İstanbul,Beşiktaş,NaN
726,47f70e45-5b0c-4789-b9ed-10aec14125dc,Female,2019-04-10 10:01:26.674,İstanbul,Beşiktaş,NaN
727,3aff1e71-d407-471d-aa41-4847a4464aa4,Female,2019-01-02 17:01:56.931,İstanbul,Kadıköy,NaN
728,a5006ac2-b567-48ae-bddf-f06e371c5108,Female,2019-01-02 16:57:38.020,İstanbul,Beşiktaş,NaN
729,5ff90153-723d-4317-8a2c-df87fa88845d,Male,2021-02-21 11:36:00.027,İstanbul,Beşiktaş,Mecidiye

In [5]:
walks_df

,ownerid,walkid,walkerid,walkingid,dogid,walkingtype,duration,checkintime,distance,district,neighborhood,endtime
0,eefa1cdf-041b-4738-a0f5-6e6647b28b1a,fdb4fdd3-19b7-4176-a2ee-817eeaba4f4d,09e59ced-1172-4744-a2bb-eb68ae83041c,e5b70802-a457-472a-9852-cba0889ef85a,1e68f0a4-101d-44fb-b9d6-add3277f1277,Customize,45,2019-12-06 07:00:00.000,2.826252,Beşiktaş,NaN,2019-12-06 08:06:06.853
1,b8ed3dd3-8a62-4189-85ee-b224913c64d6,e02af026-f364-40c4-9483-0adb4e449ed2,6007a0a8-d40b-4560-9ead-180c1646dae5,0d1f6547-7f63-4231-ace7-b23692102b70,fe49e24b-87ee-4512-b9e5-880e61021617,Customize,45,2020-03-03 07:30:00.000,1.241175,Kadıköy,NaN,2020-03-03 08:22:12.239
2,64a2b80f-9648-452a-acb2-22abe358f859,5ca5bac6-0f62-473d-8552-39d49a4a1fd8,13d7d39f-4c27-446f-85a2-ce747ee07bee,8bb4eb44-eb70-4882-865d-d8deb9fd7555,94a3a9ba-e8ba-41d5-86e8-d72435d48b82,Customize,45,2020-10-20 06:30:00.000,2.562674,Beşiktaş,NaN,2020-10-20 07:14:49.143
3,a3647ca2-e299-431d-aee9-8cc017329a9e,8f64afe8-2eb9-4c24-93ec-6a78f6af650d,d005408b-e621-42f5-ad47-6d05f71812ff,524829e9-1e83-4331-a848-010949b46476,08c0b02a-f29d-4e51-a17b-f19238571eeb,Package,45,2019-11-18 10:00:00.000,4.347920,Kadıköy,NaN,2019-11-18 09:19:33.910
4,64a2b80f-9648-452a-acb2-22abe358f859,82e3959a-ab8e-480e-84c5-115f63c8699c,da9be347-c2ff-4453-b7db-04fecebcdede,3df21b6f-cd25-4221-b117-963b72bece4f,94a3a9ba-e8ba-41d5-86e8-d72435d48b82,Planned,45,2020-12-31 07:30:00.000,2.734965,Beşiktaş,NaN,2020-12-31 08:22:59.371
...,...,...,...,...,...,...,...,...,...,...,...,...
18324,944d8298-8ae6-4864-be2f-cd19048ccac9,a6e9ee10-a75e-4431-93db-c7b0740debee,56703cb9-e873-4774-b35f-f7722ed21f2e,0ec718a3-cca9-403a-8871-dda5fd371c6b,a8cf694e-1cc5-4bfc-bd84-4d7dd34ad553,Planned,45,2020-10-14 08:00:00.000,2.794929,Şişli,Meşrutiyet,2020-10-14 08:51:00.273
18325,52f9396b-d5e2-443f-ba65-f3c25e7d16d6,281ad792-a06d-48e6-a027-7b136c4bc234,6007a0a8-d40b-4560-9ead-180c1646dae5,b06f5957-9c17-4134-9207-403952dacb22,01390607-7ab3-43bf-9159-e4ca3bfc709c,Package,45,2021-02-25 07:00:00.000,1.461032,Kadıköy,NaN,2021-02-25 08:02:00.559
18326,71aed05c-1589-4ae1-9be5-3756217b3652,2bb30fa6-621a-4c76-a8aa-98b0f1ca4d98,d005408b-e621-42f5-ad47-6d05f71812ff,031bc2fc-4083-4262-a4d8-81dab467a244,ad4340b4-e2a5-4bc6-9c7a-51789cab3683,Package,45,2020-01-16 15:00:00.000,0.000000,Kadıköy,NaN,2020-01-18 07:53:45.840
18327,c2c5e2f8-9963-4f47-94c5-7c684aad199e,9ca6fdf2-318f-4aaa-a7ba-e20699c926e7,244818e0-34a4-4090-8c7e-fa3999acfd7b,59476c69-f8b0-4fe4-89d8-a67d73befbfe,6b6dfca8-72c0-4a9c-afc1-4ff86a5ae1fe,AdHoc,45,2021-01-23 11:17:19.925,3.308601,Kartal,Karlıktepe,2021-01-23 11:26:52.311
18328,b6ed3bef-0f78-4749-98e9-a6f1cc6ae177,1ee3ee41-14e9-40a2-ae8d-bb1c9262bfee,5b9a6efe-4622-4cb0-a330-bb8494e81a77,3957c211-53ac-49b5-be3d-e61427403167,ae377525-194a-44f0-96fe-030ffea450bc,Customize,45,2021-02-04 15:00:00.000,1.152816,Kadıköy,NaN,2021-02-04 15:53:51.800

totalWalks verisinin eklenmesi #Bu esnada walkeridler de tutulmuştur ve diğer veriler buna göre eklenmiştir.

In [6]:
totalWalks=walks_df.groupby('walkerid')['walkerid'].count()

In [7]:
output_df=totalWalks.reset_index(name='totalWalks')

firstWalks verisinin eklenmesi

In [8]:
firstWalks=walks_df.sort_values('checkintime',ascending=True).groupby('walkerid')['checkintime'].first().reset_index(name='firstWalks')

In [9]:
output_df['firstWalks']=pd.to_datetime(firstWalks['firstWalks'])

In [10]:
output_df

                                  walkerid  totalWalks              firstWalks
0     00162fd3-21b4-4371-bebe-db6b081d86ef           6 2020-11-09 04:30:00.000
1     0082cfc9-ce2f-47b1-a1ae-5e0c45f903b1           5 2020-11-04 12:34:54.410
2     00fef613-662c-4194-8de1-164942e25fb2           8 2019-12-16 11:00:00.000
3     01adeee1-cb3d-46ff-9514-f4797299698c           5 2021-01-22 16:29:00.775
4     01b0fb51-4461-4638-95a5-8fc8c0ef1c9d           2 2020-03-10 11:15:00.000
...                                    ...         ...                     ...
1124  fe9bd5c2-c7fe-44c5-8013-457d693a3ec1          58 2020-10-31 19:00:00.000
1125  febe2751-8999-4f61-8c61-a5108a2981b3          18 2020-11-01 15:30:00.000
1126  ff665506-7322-4fcf-adef-0fdc52a8bd71         171 2019-09-14 09:00:00.000
1127  ff709292-6ece-4d95-83d1-2b74aee65631          15 2020-03-02 03:15:00.000
1128  ffc3fe3e-1fd8-4979-a90d-7b8a076be0d2           2 2020-09-22 17:30:00.000

[1129 rows x 3 columns]

lastWalks verisinin eklenmesi

In [11]:
lastWalks=walks_df.sort_values('checkintime',ascending=False).groupby('walkerid')['checkintime'].first().reset_index(name='lastWalks')

In [12]:
output_df['lastWalks']=pd.to_datetime(lastWalks['lastWalks'])

signuptime verisinin eklenmesi

In [13]:
walker_signtime=walkers_df[['id','signuptime']]

Walker datasetinde 730 adet kayıt bulunmasına rağmen walks datasetinde 1129 adet yürüyüş gerçekleştiren kişi vardır.Aynı zamanda bu 730 kişiden 355 adedinin yürüyüş bilgisi bulunmaktadır.Bu yüzden aşağıda birleştirme işlemi bu 730 kişi üzerinden gerçekleştirilmiş ve diğer hesaplamalarda bu 355 adet kişinin bilgileri kullanılmıştır.

In [14]:
output_df=pd.merge(output_df,walker_signtime,how='right',left_on='walkerid',right_on='id')

In [15]:
output_df

,walkerid,totalWalks,firstWalks,lastWalks,id,signuptime
0,NaN,NaN,NaT,NaT,248b0c40-6670-47e1-be2d-052934fac3ea,2019-11-03 22:01:38.006
1,NaN,NaN,NaT,NaT,01029542-74c8-4ba7-9370-c63d0eab244d,2020-02-11 15:30:28.371
2,NaN,NaN,NaT,NaT,d6d71172-a808-420e-9856-3dd0a067318b,2019-11-06 09:47:58.777
3,7f6a0cfd-b94d-4bb6-9db8-d7c28eb03e7b,12.0,2020-10-27 15:15:00,2021-01-25 16:49:21.821,7f6a0cfd-b94d-4bb6-9db8-d7c28eb03e7b,2020-10-12 11:38:52.230
4,fb487092-7521-4cb4-b102-a24cd337da54,1.0,2020-11-26 08:00:00,2020-11-26 08:00:00.000,fb487092-7521-4cb4-b102-a24cd337da54,2020-11-24 13:29:52.648
...,...,...,...,...,...,...
725,NaN,NaN,NaT,NaT,8ec22b8d-0e4e-433b-92bc-29495f0b8680,2019-03-12 08:18:41.605
726,NaN,NaN,NaT,NaT,47f70e45-5b0c-4789-b9ed-10aec14125dc,2019-04-10 10:01:26.674
727,NaN,NaN,NaT,NaT,3aff1e71-d407-471d-aa41-4847a4464aa4,2019-01-02 17:01:56.931
728,a5006ac2-b567-48ae-bddf-f06e371c5108,13.0,2019-03-12 16:00:00,2019-10-30 15:15:00.330,a5006ac2-b567-48ae-bddf-f06e371c5108,2019-01-02 16:57:38.020
729,NaN,NaN,NaT,NaT,5ff90153-723d-4317-8a2c-df87fa88845d,2021-02-21 11:36:00.027

Bazı kullanıcıların walkerid'si bulunmadığı fakat id'si bulunduğu için ve outputta id istenmediği için walkerid kısmına NaN atmak veriyi belirsizleştireceği için çözüm üretmek amacıyla id ile eşitleme işlemi yaptım.(walks ve walker datasetinde id eşitliği göz önünde bulundurularak)

In [16]:
output_df['walkerid']=output_df['id']
output_df=output_df.drop('id',axis=1)

In [17]:
import numpy as np

In [18]:
output_df['didDemandorWalk']=np.where(output_df['totalWalks'].isna()==False,'Yes','No')

In [19]:
output_df['signuptime']=pd.to_datetime(output_df['signuptime'])

In [20]:
output_df['lifetime']=np.where(output_df['lastWalks'].isna()==False,output_df['lastWalks']-output_df['signuptime'],np.nan)

In [21]:
output_df['lifetime']=output_df['lifetime'].dt.days

In [22]:
output_df

,walkerid,totalWalks,firstWalks,lastWalks,signuptime,didDemandorWalk,lifetime
0,248b0c40-6670-47e1-be2d-052934fac3ea,NaN,NaT,NaT,2019-11-03 22:01:38.006,No,NaN
1,01029542-74c8-4ba7-9370-c63d0eab244d,NaN,NaT,NaT,2020-02-11 15:30:28.371,No,NaN
2,d6d71172-a808-420e-9856-3dd0a067318b,NaN,NaT,NaT,2019-11-06 09:47:58.777,No,NaN
3,7f6a0cfd-b94d-4bb6-9db8-d7c28eb03e7b,12.0,2020-10-27 15:15:00,2021-01-25 16:49:21.821,2020-10-12 11:38:52.230,Yes,105.0
4,fb487092-7521-4cb4-b102-a24cd337da54,1.0,2020-11-26 08:00:00,2020-11-26 08:00:00.000,2020-11-24 13:29:52.648,Yes,1.0
...,...,...,...,...,...,...,...
725,8ec22b8d-0e4e-433b-92bc-29495f0b8680,NaN,NaT,NaT,2019-03-12 08:18:41.605,No,NaN
726,47f70e45-5b0c-4789-b9ed-10aec14125dc,NaN,NaT,NaT,2019-04-10 10:01:26.674,No,NaN
727,3aff1e71-d407-471d-aa41-4847a4464aa4,NaN,NaT,NaT,2019-01-02 17:01:56.931,No,NaN
728,a5006ac2-b567-48ae-bddf-f06e371c5108,13.0,2019-03-12 16:00:00,2019-10-30 15:15:00.330,2019-01-02 16:57:38.020,Yes,300.0
729,5ff90153-723d-4317-8a2c-df87fa88845d,NaN,NaT,NaT,2021-02-21 11:36:00.027,No,NaN

In [23]:
walkercount=output_df[output_df['didDemandorWalk']=='Yes']['didDemandorWalk'].count()#355 kişi lifetime sahibi bu yüzden hesabı buna göre yapacağız.

In [24]:
avglifetime=output_df['lifetime'].sum()/walkercount

In [25]:
output_df['averageLifetime']=np.where(output_df['lifetime']>avglifetime,'More','Less')

walkercount walkerdatasetindeki 730 kişi ile sınırlandırılmıştır ve buradaki 355 kişi walks kayıtlarında aktiftir.

In [26]:
avgwalkcount=output_df['totalWalks'].sum()/walkercount

In [27]:
output_df['averageWalk']=np.where(output_df['totalWalks']>avgwalkcount,'More','Less')

In [28]:
output_df[output_df['averageWalk']=='More']

,walkerid,totalWalks,firstWalks,lastWalks,signuptime,didDemandorWalk,lifetime,averageLifetime,averageWalk
14,81cae5ec-31c8-4287-a1bd-90aad87f030c,20.0,2020-11-02 09:00:00.000,2021-02-25 07:00:00.000,2020-10-26 12:36:22.829,Yes,121.0,More,More
17,7eae3cce-48dc-4b4a-8b55-f22f4b374bbd,24.0,2020-02-13 12:00:00.000,2020-06-04 08:53:04.529,2020-02-03 11:12:21.586,Yes,121.0,More,More
35,b93995d2-ae36-4445-a3f2-a4c49b13bde1,75.0,2020-07-23 16:30:00.000,2021-02-26 05:00:00.000,2020-07-10 14:46:26.833,Yes,230.0,More,More
54,a84801ae-2d04-441b-8b0e-18e84c148532,59.0,2019-12-06 16:00:00.000,2021-02-26 16:15:00.000,2019-12-03 22:27:59.718,Yes,450.0,More,More
58,244818e0-34a4-4090-8c7e-fa3999acfd7b,61.0,2020-09-27 17:00:00.000,2021-02-26 09:26:23.417,2020-09-23 14:16:04.542,Yes,155.0,More,More
...,...,...,...,...,...,...,...,...,...
687,806df195-5400-464d-9047-c19dea222d84,44.0,2020-09-17 18:00:00.000,2020-12-30 16:44:46.049,2020-09-17 13:51:09.044,Yes,104.0,More,More
710,3f9a90f3-4dba-42e2-be04-4b52a6d16ff5,20.0,2019-08-01 04:00:00.000,2020-11-18 05:45:00.000,2019-06-26 12:35:39.367,Yes,510.0,More,More
713,c01159d8-394e-4b76-92cf-2084a85fb69a,40.0,2021-01-18 12:05:52.481,2021-02-22 09:00:00.000,2021-01-11 12:57:07.068,Yes,41.0,Less,More
716,d005408b-e621-42f5-ad47-6d05f71812ff,201.0,2019-10-21 07:00:00.000,2021-01-22 16:00:00.000,2019-10-19 19:57:11.157,Yes,460.0,More,More
722,ac40ca52-b4d9-4cde-9c2e-d489c58554e7,22.0,2019-11-18 16:00:00.000,2020-03-10 14:30:00.000,2019-11-07 18:23:57.645,Yes,123.0,More,More

In [29]:
output_df

,walkerid,totalWalks,firstWalks,lastWalks,signuptime,didDemandorWalk,lifetime,averageLifetime,averageWalk
0,248b0c40-6670-47e1-be2d-052934fac3ea,NaN,NaT,NaT,2019-11-03 22:01:38.006,No,NaN,Less,Less
1,01029542-74c8-4ba7-9370-c63d0eab244d,NaN,NaT,NaT,2020-02-11 15:30:28.371,No,NaN,Less,Less
2,d6d71172-a808-420e-9856-3dd0a067318b,NaN,NaT,NaT,2019-11-06 09:47:58.777,No,NaN,Less,Less
3,7f6a0cfd-b94d-4bb6-9db8-d7c28eb03e7b,12.0,2020-10-27 15:15:00,2021-01-25 16:49:21.821,2020-10-12 11:38:52.230,Yes,105.0,More,Less
4,fb487092-7521-4cb4-b102-a24cd337da54,1.0,2020-11-26 08:00:00,2020-11-26 08:00:00.000,2020-11-24 13:29:52.648,Yes,1.0,Less,Less
...,...,...,...,...,...,...,...,...,...
725,8ec22b8d-0e4e-433b-92bc-29495f0b8680,NaN,NaT,NaT,2019-03-12 08:18:41.605,No,NaN,Less,Less
726,47f70e45-5b0c-4789-b9ed-10aec14125dc,NaN,NaT,NaT,2019-04-10 10:01:26.674,No,NaN,Less,Less
727,3aff1e71-d407-471d-aa41-4847a4464aa4,NaN,NaT,NaT,2019-01-02 17:01:56.931,No,NaN,Less,Less
728,a5006ac2-b567-48ae-bddf-f06e371c5108,13.0,2019-03-12 16:00:00,2019-10-30 15:15:00.330,2019-01-02 16:57:38.020,Yes,300.0,More,Less
729,5ff90153-723d-4317-8a2c-df87fa88845d,NaN,NaT,NaT,2021-02-21 11:36:00.027,No,NaN,Less,Less

In [30]:
output_df['firstWalkAfterSignup']=np.where(output_df['firstWalks'].isna()!=True,output_df['firstWalks']-output_df['signuptime'],np.nan)

In [31]:
output_df['firstWalkAfterSignup']=output_df['firstWalkAfterSignup'].dt.days

In [106]:
import datetime

In [107]:
output_df['firstWalkinWeek']=np.where(output_df['firstWalks'].isna()==True,np.nan,
        np.where((output_df['signuptime']+datetime.timedelta(days=7))<output_df['firstWalks'],'No','Yes'
                )
        )

In [108]:
output_df

,walkerid,totalWalks,firstWalks,lastWalks,signuptime,didDemandorWalk,lifetime,averageLifetime,averageWalk,firstWalkAfterSignup,firstWalkinWeek
0,248b0c40-6670-47e1-be2d-052934fac3ea,NaN,NaT,NaT,2019-11-03 22:01:38.006,No,NaN,Less,Less,NaN,nan
1,01029542-74c8-4ba7-9370-c63d0eab244d,NaN,NaT,NaT,2020-02-11 15:30:28.371,No,NaN,Less,Less,NaN,nan
2,d6d71172-a808-420e-9856-3dd0a067318b,NaN,NaT,NaT,2019-11-06 09:47:58.777,No,NaN,Less,Less,NaN,nan
3,7f6a0cfd-b94d-4bb6-9db8-d7c28eb03e7b,12.0,2020-10-27 15:15:00,2021-01-25 16:49:21.821,2020-10-12 11:38:52.230,Yes,105.0,More,Less,15.0,No
4,fb487092-7521-4cb4-b102-a24cd337da54,1.0,2020-11-26 08:00:00,2020-11-26 08:00:00.000,2020-11-24 13:29:52.648,Yes,1.0,Less,Less,1.0,Yes
...,...,...,...,...,...,...,...,...,...,...,...
725,8ec22b8d-0e4e-433b-92bc-29495f0b8680,NaN,NaT,NaT,2019-03-12 08:18:41.605,No,NaN,Less,Less,NaN,nan
726,47f70e45-5b0c-4789-b9ed-10aec14125dc,NaN,NaT,NaT,2019-04-10 10:01:26.674,No,NaN,Less,Less,NaN,nan
727,3aff1e71-d407-471d-aa41-4847a4464aa4,NaN,NaT,NaT,2019-01-02 17:01:56.931,No,NaN,Less,Less,NaN,nan
728,a5006ac2-b567-48ae-bddf-f06e371c5108,13.0,2019-03-12 16:00:00,2019-10-30 15:15:00.330,2019-01-02 16:57:38.020,Yes,300.0,More,Less,68.0,No
729,5ff90153-723d-4317-8a2c-df87fa88845d,NaN,NaT,NaT,2021-02-21 11:36:00.027,No,NaN,Less,Less,NaN,nan

In [144]:
current_time=datetime.datetime.now()
last_month=current_time-datetime.timedelta(days=30)

In [120]:
output_df

,walkerid,totalWalks,firstWalks,lastWalks,signuptime,didDemandorWalk,lifetime,averageLifetime,averageWalk,firstWalkAfterSignup,firstWalkinWeek,lastMonthWalks
0,248b0c40-6670-47e1-be2d-052934fac3ea,NaN,NaT,NaT,2019-11-03 22:01:38.006,No,NaN,Less,Less,NaN,nan,nan
1,01029542-74c8-4ba7-9370-c63d0eab244d,NaN,NaT,NaT,2020-02-11 15:30:28.371,No,NaN,Less,Less,NaN,nan,nan
2,d6d71172-a808-420e-9856-3dd0a067318b,NaN,NaT,NaT,2019-11-06 09:47:58.777,No,NaN,Less,Less,NaN,nan,nan
3,7f6a0cfd-b94d-4bb6-9db8-d7c28eb03e7b,12.0,2020-10-27 15:15:00,2021-01-25 16:49:21.821,2020-10-12 11:38:52.230,Yes,105.0,More,Less,15.0,No,No
4,fb487092-7521-4cb4-b102-a24cd337da54,1.0,2020-11-26 08:00:00,2020-11-26 08:00:00.000,2020-11-24 13:29:52.648,Yes,1.0,Less,Less,1.0,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...,...
725,8ec22b8d-0e4e-433b-92bc-29495f0b8680,NaN,NaT,NaT,2019-03-12 08:18:41.605,No,NaN,Less,Less,NaN,nan,nan
726,47f70e45-5b0c-4789-b9ed-10aec14125dc,NaN,NaT,NaT,2019-04-10 10:01:26.674,No,NaN,Less,Less,NaN,nan,nan
727,3aff1e71-d407-471d-aa41-4847a4464aa4,NaN,NaT,NaT,2019-01-02 17:01:56.931,No,NaN,Less,Less,NaN,nan,nan
728,a5006ac2-b567-48ae-bddf-f06e371c5108,13.0,2019-03-12 16:00:00,2019-10-30 15:15:00.330,2019-01-02 16:57:38.020,Yes,300.0,More,Less,68.0,No,No
729,5ff90153-723d-4317-8a2c-df87fa88845d,NaN,NaT,NaT,2021-02-21 11:36:00.027,No,NaN,Less,Less,NaN,nan,nan

In [150]:
walks_df['checkintime']=pd.to_datetime(walks_df['checkintime'])
a=walks_df[walks_df['checkintime']>last_month].groupby('walkerid').count()
a=a['duration']#Rastgele bir column alıyorum çünkü a count döndürdü

In [152]:
if len(a)==0:
    output_df['lastMonthWalks']=0
else:
    output_df=output_df.merge(a,how='left')
    output_df['lastMonthWalks']=output_df['duration']

In [153]:
output_df

,walkerid,totalWalks,firstWalks,lastWalks,signuptime,didDemandorWalk,lifetime,averageLifetime,averageWalk,firstWalkAfterSignup,firstWalkinWeek,lastMonthWalks
0,248b0c40-6670-47e1-be2d-052934fac3ea,NaN,NaT,NaT,2019-11-03 22:01:38.006,No,NaN,Less,Less,NaN,nan,0
1,01029542-74c8-4ba7-9370-c63d0eab244d,NaN,NaT,NaT,2020-02-11 15:30:28.371,No,NaN,Less,Less,NaN,nan,0
2,d6d71172-a808-420e-9856-3dd0a067318b,NaN,NaT,NaT,2019-11-06 09:47:58.777,No,NaN,Less,Less,NaN,nan,0
3,7f6a0cfd-b94d-4bb6-9db8-d7c28eb03e7b,12.0,2020-10-27 15:15:00,2021-01-25 16:49:21.821,2020-10-12 11:38:52.230,Yes,105.0,More,Less,15.0,No,0
4,fb487092-7521-4cb4-b102-a24cd337da54,1.0,2020-11-26 08:00:00,2020-11-26 08:00:00.000,2020-11-24 13:29:52.648,Yes,1.0,Less,Less,1.0,Yes,0
...,...,...,...,...,...,...,...,...,...,...,...,...
725,8ec22b8d-0e4e-433b-92bc-29495f0b8680,NaN,NaT,NaT,2019-03-12 08:18:41.605,No,NaN,Less,Less,NaN,nan,0
726,47f70e45-5b0c-4789-b9ed-10aec14125dc,NaN,NaT,NaT,2019-04-10 10:01:26.674,No,NaN,Less,Less,NaN,nan,0
727,3aff1e71-d407-471d-aa41-4847a4464aa4,NaN,NaT,NaT,2019-01-02 17:01:56.931,No,NaN,Less,Less,NaN,nan,0
728,a5006ac2-b567-48ae-bddf-f06e371c5108,13.0,2019-03-12 16:00:00,2019-10-30 15:15:00.330,2019-01-02 16:57:38.020,Yes,300.0,More,Less,68.0,No,0
729,5ff90153-723d-4317-8a2c-df87fa88845d,NaN,NaT,NaT,2021-02-21 11:36:00.027,No,NaN,Less,Less,NaN,nan,0

In [154]:
output_df['activityTag']=np.where(output_df['lastWalks'].isna()==True,np.nan,
        np.where((current_time-datetime.timedelta(days=30))>output_df['lastWalks'],'No','Yes'
                )
        )